/* this is for the data area that is scrollable */
.tablecontainer {
    overflow-y: auto;
    height: 700px;
    width: 100%;
    background: #fff;
}

/* remove default cell borders and ensures table width 100% of its container*/
.tablecontainer table {
    border-spacing: 0;
    width:100%;
}

/* add a thin border to the left of cells, but not the first */
.tablecontainer td + td {
    border-left:1px solid #eee;
}

/* cell padding and bottom border */
.tablecontainer td, th {
    border-bottom:1px solid #eee;
    padding: 10px;
}

/* make the default header height 0 and make text invisible */
.tablecontainer th {
    height: 0px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 0;
    visibility: hidden;
    white-space: nowrap;
}

/* reposition the divs in the header cells and place in the blank area of the headercontainer */
.tablecontainer th div{
    visibility: visible;
    position: absolute;
    background: #000;
    color: #fff;
    padding: 9px 10px;
    top: 0;
    margin-left: -10px;
    line-height: normal;
    border-left: 1px solid #222;
}
/* prevent the left border from above appearing in first div header */
th:first-child div{
    border: none;
}

/* alternate colors for rows */
.tablecontainer tbody  tr:nth-child(even){
    background-color: #ddd;
}

img {
    max-height: 25%;
    max-width: 25%;
}

.leftColumn {
    float: left;
    padding: 5%;
    width: 50%;
}
.rightColumn {
    float: right;
    padding: 5%;
    width: 50%;
}

.quizButton {
    display: inline-block;
    background: gray;
    padding: 2vmin;
    width: 100%
}

#groupName {
    padding-top: 5%;
    text-align: center;
}

#edit_group {
    float: right;
    display: inline;
}