*{
    font-size: 4vmin;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
}

header {
    display: grid;
    background: gray;
    border-bottom: 1px outset black;
    justify-items: stretch;
    align-items: stretch;
    padding: 1vmin;
}

header > form > button {
    background: darkgray;
    border: 1px solid black;
    font-size: 5vmin;
}

.group-button {
    display: inline;
}

#logout {
    text-align: right;
}