<%
var group_id = nodejserver.cookie(req, 'group_id');
if (!group_id) {
    res.redirect("/page/main.html");
}
var group = nodejserver.db.groups[group_id];
%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no"/>

    <link href="/css/group_info.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js"></script>
    <script src="/scripts/common.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Group Info</title>
    <style>
        .game_button {
            background: #f5faff;
            padding: 3vmin;
            border: 1px solid black;
            border-radius: 5px;
            margin: 1vmin;
            display: inline-block;


        }
    </style>
</head>


<body>
<header>
    <div>
        <a href="/page/main.html">Main</a>
    </div>
    <div>
        <span>
            <%= group.name %>
            - Group ID:
            <%= group.id %>
        </span>
    </div>
    <% var user = nodejserver.get_user(req); %>
    <% if (group.owner == user.id) {%>
    <div>
        <a href="/page/create_edit_group.html">Edit</a>
    </div>
    <%} else {%>
    <div>
        <a href="#" style="background-color:red" id="leave">Leave</a>
    </div>
    <%} %>

    
</header>
<content style="width:100%; text-align:center;">
    <br><div>Select a Quiz</div><br>
    <div>
        <a class="game_button" href="game_from_image.html">Choose name from faces</a><br>
        <a class="game_button" href="game_from_name.html">Choose face from names</a>
    </div>

</content>
<script type="text/javascript">
    
    for (let leave of document.querySelectorAll("#leave")) {
        leave.onclick = function() {
            $.post("/action/remove_self_from_group", {user_id: <%=user.id%>, group_id: <%=group.id%>}, function(){
                location.href = "/page/ma in.html";
            });
        }
    }
</script>
</body>
</html>

